@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: 'Montserrat', sans-serif;
  @apply bg-gray-100 text-greyDark;
}

/* Custom Scrollbar Hide but Allow Scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}